:root {
  --first-bg-color: #090b10;
  --second-bg-color: #0f111a;
  --first-text-color: #4f46e5;
  --second-text-color: #b094ff;
  --third-text-color: #cbd5e1;
  --fourth-text-color: #fff;

  --alternative-bg-color: #000;
  --error-color: #eb1d36;
  --good-color: #15f5ba;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

.card {
  width: 100vw;
  height: 98.2vh;
  font-family: arial;
  font-size: 140%;
  text-align: center;
  color: var(--first-bg-color);
  background-color: var(--third-text-color);
  margin: 0;
}

.card.nightMode {
  width: 100vw;
  height: 98.2vh;
  color: var(--third-text-color);
  /* background-color: var(--first-bg-color); */

  background: linear-gradient(
    180deg,
    var(--alternative-bg-color),
    var(--first-bg-color)
  );
  margin: 0;
}

/* Front Template*/

.flashcard {
  width: 94vw;
  height: 94vh;
  /*  display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  max-width: 500px;
  margin: 0 auto;
}

#rubric {
  text-align: center;
  margin: 10px 0 0;
  padding: 4px;
  background-color: var(--second-bg-color);
  color: var(--third-text-color);
  font-size: 22px;
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  margin: 10px 0 0;

  /* border: 1px solid var(--first-text-color); */
}

/* .word, */
.ipa {
  font-weight: 500;
  font-size: 38px;
}

/* .word {
  color: var(--first-text-color);
} */

.ipa {
  height: 50px;
  color: var(--second-text-color);
}
/*
.details {
  text-align: start;
  font-size: 16px;
  padding: 0 10px;
}

.details summary {
  color: var(--second-text-color);
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
  height: 150px;
  max-height: 200px;
  gap: 6px;
}

ul li {
  width: fit-content;
  list-style: none;
  text-align: center;
}

a {
  color: var(--fourth-text-color);
}
  */

/* Back Template */

.back-flex {
  height: 460px;
  margin: 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid #4f46e5; */
}
/*
.back-word {
  color: var(--first-text-color);
}

.meaning {
  color: var(--second-text-color);
}

.example {
  color: var(--fourth-text-color);
}

.meaning,
.example {
  text-align: start;
  font-size: 20px;
  margin: 0;
}
*/
img {
  aspect-ratio: 16/11;
  object-fit: cover;
  border-radius: 20px;
}

hr {
  color: var(--second-bg-color);
  /*background-color: #4f46e5;*/
  border-width: 2px;
  border-style: solid;
}

/* Buttons */

/* .back-sounds {
  display: flex;
  justify-content: center;
} */

/* .replay-button {
  background-color: var(--first-text-color);
} */

.replay-button svg circle {
  fill: none;
  stroke: none;
}

.replay-button svg path {
  fill: var(--first-text-color);
  stroke: var(--second-text-color);
}

.back-sound svg {
  width: 28px;
  height: 28px;
}

/*.stop svg circle {
  fill: var(--second-bg-color);
  stroke:  var(--second-bg-color);
}*/

.stop svg path {
  fill: var(--second-bg-color);
  stroke: var(--second-text-color);
}

/*
i {
	color: var(--first-text-color);
	text-shadow: 1px 1px 5px var(--first-text-color);
}

b {
	color: var(--fourth-text-color);
	text-shadow: 1px 1px 5px var(--second-text-color);
}
*/

/* Other styles - Input */

#typeans {
  /* Input text */
  text-align: center;
  max-width: 300px;
}

input#typeans {
  border-radius: 9px;
}

/* solarize http://ethanschoonover.com/solarized
  * http://ospalh.github.io/anki-addons/Scalar.html
  */

#typeans span {
  background-color: var(--first-bg-color);
}
.typeBad {
  color: #dc322f;
  font-weight: bold;
  font-size: 23px;
}
.typeMissed,
.typePass {
  color: #268bd2;
  font-weight: bold;
  font-size: 23px;
}
.typeGood {
  color: #2ed85a;
  /* color: var(--good-color); */
  font-weight: bold;
}

/* .smartstep {
  position: absolute;
  top: 7px;
  right: 27px;
  background: url("_sse_vk.png") top right no-repeat;
  display: block;
  width: 50px;
  height: 50px;
} */
.small {
  color: #27ae60;
  font-size: 0.7em;
}

/* .Deck {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 100%;
}

#Deck {
  font-size: 8pt;
  vertical-align: top;
  line-height: 10pt;
} */
