:root {
  --first-bg-color: #090b10;
  --second-bg-color: #0f111a;
  --first-text-color: #4f46e5;
  --second-text-color: #b094ff;
  --third-text-color: #cbd5e1;
  --fourth-text-color: #fff;

  --alternative-bg-color: #000;
  --alternative-bg-two: #17153b;
  --alternative-bg-three: #1f316f;
  --alternative-bg-four: #2f3645;
  --test-color: #f43f5e;
  --test-highlighting: #fb7185;
  --trial-color: #a1aebf;
  --test-bg: #1a202c;
  --learn-word: #fda4af;
  --error-color: #eb1d36;
  --good-color: #15f5ba;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  width: 100vw;
  height: 100%;

  margin: 0;
  color: var(--fourth-text-color);
  background-color: var(--second-bg-color);
}

.card.nightMode {
  width: 100vw;
  height: 100%;

  margin: 0;
  color: var(--fourth-text-color);
  background-color: var(--second-bg-color);
}

/* Front card -------------------------------  */

.front-flashcard {
  width: 100%;
  max-width: 400px;
  height: 90vh;
  min-height: 450px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 0.5fr 0.5fr;

  justify-items: center;
  gap: 10px;
  padding: 10px;
  /* margin: 10px; */

  border-radius: 0 0 20px 20px;

  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

  background-color: var(--first-bg-color);
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--test-highlighting);
  /* background-color: #15f5ba; */
}

img {
  aspect-ratio: 16/11;
  object-fit: cover;
  border-radius: 20px;
}

.word {
  font-size: 24px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #15f5ba; */
}

.footer .sound svg path {
  fill: var(--test-color);
  stroke: var(--second-bg-color);
}

/* Back Template */

.back-flashcard {
  width: 100%;
  max-width: 400px;
  height: 96vh;
  min-height: 500px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 0.5fr 0.5fr;

  justify-items: center;
  gap: 10px;
  padding: 10px;
  /* margin: 10px; */

  border-radius: 0 0 20px 20px;

  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

  background-color: var(--first-bg-color);
}

.back-flashcard .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: var(--good-color); */
}

.back-flashcard .main .word {
  font-size: 24px;
}

/* Buttons */

.replay-button svg circle {
  fill: none;
  stroke: none;
}

/* .replay-button svg path {
  fill: var(--first-text-color);
  stroke: var(--second-text-color);
} */

/*.stop svg circle {
  fill: var(--second-bg-color);
  stroke:  var(--second-bg-color);
}*/

/* Other styles - Input */

#typeans {
  /* Input text */
  text-align: center;
  max-width: 300px;
}

input#typeans {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--second-bg-color);
}

/* solarize http://ethanschoonover.com/solarized
  * http://ospalh.github.io/anki-addons/Scalar.html
  */

#typeans span {
  background-color: var(--first-bg-color);
}
.typeBad {
  color: var(--error-color);
  font-weight: bold;
  font-size: 23px;
}
.typeMissed,
.typePass {
  color: #268bd2;
  font-weight: bold;
  font-size: 23px;
}
.typeGood {
  color: #2ed85a;
  /* color: var(--good-color); */
  font-weight: bold;
}

.smartstep {
  position: absolute;
  top: 7px;
  right: 27px;
  background: url("_sse_vk.png") top right no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}
.small {
  color: #27ae60;
  font-size: 0.7em;
}

/* .Deck {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 100%;
}

#Deck {
  font-size: 8pt;
  vertical-align: top;
  line-height: 10pt;
} */
