:root {
  --first-bg-color: #090b10;
  --second-bg-color: #0f111a;
  --third-bg-color: #06923e;
  --first-text-color: #15f5ba;
  --blend-bg-color: #063f3b;
  --second-text-color: #b6eada;
  --third-text-color: #cbd5e1;
  --fourth-text-color: #fff;
  --fifth-text-color: #e5fef4;
  --test-color: #eb1d36;
}

/* 
06923e
00712D
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  /* width: 320px; */
  max-width: 480px;
  font-size: 20px;
  /* text-align: center; */
  color: var(--first-text-color);
  background-color: var(--first-bg-color);
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
}

.card.nightMode {
  font-family: "Roboto Mono", monospace;
  color: var(--fourth-text-color);
  background-color: var(--first-bg-color);
}

.cloze {
  /* font-size: 20px; */
  font-weight: bold;
  color: var(--first-text-color);
}

.cloze-deleted {
  color: var(--test-color); /* Color por defecto */
}

#rubric {
  font-size: 16px;
  text-align: justify;
  font-weight: bold;
  padding: 8px 14px;

  margin: 0 0 20px 0;
  color: black;
  /* background-color: var(--third-bg-color); */

  text-shadow: 0 0 0px var(--first-bg-color),
    0 0 1.5px #0f0f0f, 0 0 2.5px var(--second-bg-color);

  background: linear-gradient(
    -45deg,
    var(--third-bg-color),
    var(--first-text-color),
    var(--blend-bg-color)
  );

  border-radius: 12px;
  font-weight: 600;
}

#container {
  width: 100%;
  height: auto;
  /* min-width: 320px; */
  /* min-height: 210px; */
  /* display: block; */
  /* height: 100%; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 8px;
  margin: 0 0 12px 0;
  /* gap: 1rem; */
  overflow: hidden;
  /* background-color: var(--second-bg-color); */
  background: radial-gradient(
    circle,
    var(--first-bg-color),
    var(--second-bg-color)
  );
}

/* #container {
  display: table;
  width: 100%;
} */

#container .t-image {
  float: left;
  width: 40%;
  display: flex;
  /* height: 320px; */
  /* min-height: 80px; */
  /* aspect-ratio: 4 / 3; */
  margin: 0 12px 0 0;
  /* height: 80px; */
  /* background-color: #06923e; */
  background-color: var(--first-text-color);
}

#container .t-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-right: 16px; */
  /* background-color: #063f3b; */
}

.t-image {
  /* height: 80px; */
  /* width: 30%; */
  /* display: table-cell; */
  /* padding-top: 6px; */
  /*  vertical-align: middle; */
}

.t-question {
  /* width: 40%; */
  /* height: 100%; */
  /* display: table-cell;
  vertical-align: middle; */
  /* background-color: var(--first-bg-color); */
  /* background-color: #eb1d36; */
}

#question {
  /* flex: 1 1 40%; revisar*/
  /* min-width: 180px; */
  /* margin: 16px; */
  font-size: 16px;
  text-align: left;
  line-height: 1.15;
  margin: 0 0 12px 0;
  /* background-color: red; */
  /* background-color: #eb1d36; */
}

#container #question {
  margin: 0;
}

.p-image {
  /* float: left; */
}

.p-question {
  /* text-align: justify; */
  /* margin: 0 16px; */
}

#question > span:not(.cloze) {
  color: var(--first-text-color);
  font-weight: bold;
  text-decoration: underline;
}

#question u {
  text-decoration: none;
  /* display: inline-table; */
  /* vertical-align: text-top; */
}

#question u:before {
  content: "";
  /* border-bottom: 0.1em solid var(--test-color); */
  /* display: table-caption; */
  /* caption-side: bottom; */
  /* position: relative; */
  /* padding-top: 2px; */
}

/* #question i {
  font-family: arial;
} */

/* #question > p {
  margin: 12px;
  margin-bottom: 0px;
  text-align: center;
} */

#choices {
  width: 100%;
  margin: 0 0 12px 0;
  padding: 8px;
  /* margin: 4px auto; */
  /* margin-bottom: 12px; */
  font-size: 14px;
  /* text-align: center; */

  /* background-color: #063f3b; */
}

#choices ul {
  width: fit-content;
  /* background-color: #eb1d36; */
  margin: 0 16px;
}

.choices_variants {
  display: inline-block;
  text-align: left;
}

.choices_words {
  font-size: 18px;
  text-align: center;
}

.choices_words li {
  font-size: 14.5px;
  display: inline-block;
  padding: 4px 8px;

  border-radius: 0.4em;
  /* border-style: solid;
  border-width: 2px; */

  border: 2px solid var(--first-text-color);
  background-color: var(--second-bg-color);
  margin: 5px;
}

.choices_words ul:not(:first-child) li {
  /* background: #f7deb7; */
  background: var(--test-color);
  /* font-size: 14px; */
}

.choices-box-delimiter {
  height: 6px;
  margin: 0px;
}

#audio {
  width: 100%;
  text-align: center;
  /* background-color: red; */
  /* margin-top: 2px; */
  /* margin: 0 auto; */
  /* margin: 0 0 12px 0; */
}

#choices b,
#unit b {
  font-weight: normal;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* text-align: right; */
  /* margin-top: 6px; */
  margin: 0 0 0 48px;
  /* background-color: red; */
}

#category {
  width: fit-content;
  font-size: 16px;
  /* background-color: #063f3b; */
}

#unit {
  width: fit-content;
  font-size: 12px;

  /* Brillo de neón */
  color: var(--second-bg-color);
  font-weight: bold;

  text-shadow: 0 0 2px var(--first-bg-color),
    0 0 4px var(--first-text-color), 0 0 6px #0f0f0f,
    0 0 10px var(--second-bg-color);
  background-color: var(--first-text-color);
  padding: 0 12px 0 12px;
}

.l {
  display: inline-block;
  /* align: center; */
  text-align: left;
  margin: auto;
  padding-left: 10px;
}

input#typeans {
  text-align: center;
}

.replay-button svg {
  width: 32px;
  height: 32px;
}

.replay-button {
  margin-bottom: 8px;
}

/* Buttons */

.replay-button svg circle {
  fill: none;
  stroke: none;
}

.replay-button svg path {
  fill: var(--second-bg-color);
  stroke: var(--first-text-color);
}

/* Match */

.match {
  width: 100%;
  text-align: center;
  margin: 0 0 12px 0;
  /* margin: 0 auto; */
  /* background-color: #06923e; */
}

#typeans {
  /* width: 100%; */
  /* text-align: center; */
  /* margin: 0 auto; */
  /* background-color: red; */
  /* padding: 10px; */
}

#typeans span {
  background-color: var(--second-bg-color);
}

.typeBad {
  /*color: var(--error-color);*/
  color: white;
  /*font-weight: 600;*/
  /* font-size: 16px; */
}
.typeMissed,
.typePass {
  color: #268bd2;
  /*font-weight: bold;*/
  /* font-size: 16px; */
}
.typeGood {
  color: #2ed85a;
  /* color: var(--good-color); */
  /*font-weight: bold;*/
  /* font-size: 16px; */
}

.smartstep {
  position: absolute;
  top: 7px;
  right: 27px;
  background: url("_sse_vk.png") top right no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}
