:root {
  --first-bg-color: #090b10;
  --second-bg-color: #0f111a;
  --first-text-color: #4f46e5;
  --second-text-color: #b094ff;
  --third-text-color: #cbd5e1;
  --fourth-text-color: #fff;
  /* 
    #615EFC
    #7E8EF1
    #6482AD
    #2F3645
    #161A30
    #ef4444
    #10b981
    #e11d48
    #eab308
    */
  --alternative-bg-color: #000;
  --alternative-bg-two: #17153b;
  --alternative-bg-three: #1f316f;
  --alternative-bg-four: #2f3645;
  --test-color: #e11d48;
  --trial-color: #fda4af;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

.card {
  width: 100vw;
  height: 100%;

  margin: 0;
  color: var(--fourth-text-color);
  background-color: var(--second-bg-color);
}

.card.nightMode {
  width: 100vw;
  height: 100%;

  margin: 0;
  color: var(--fourth-text-color);
  background-color: var(--second-bg-color);
}

/* Front card */

.front-flashcard {
  width: 100%;
  max-width: 400px;
  height: 96vh;
  min-height: 500px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 10px;
  padding: 0;
  margin: 0;

  border-radius: 0 0 20px 20px;

  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.front-flashcard .header {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    var(--second-bg-color),
    var(--alternative-bg-color)
  );
}

.front-flashcard .header .header__title {
  font-size: 20px;
}

.front-flashcard .main {
  /* height: 140px; */
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;

  justify-items: center;
  align-items: center;

  border-radius: 20px 20px 0 0;
  background: radial-gradient(
    circle,
    var(--second-bg-color),
    var(--alternative-bg-color)
  );
  /* background-color: var(--first-bg-color); */
}

.front-flashcard .main .main__word {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 24px;
  /* background-color: cornflowerblue; */
}

.front-flashcard .main .main__word .word {
  color: var(--first-text-color);
  animation: blink 5s ease-in-out infinite;
}

.front-flashcard .main .main__word .word-sound {
  height: 40px;

  display: flex;
  align-items: center;
  /* background-color: #0f111a; */
}

.front-flashcard .main .main__ipa {
  width: 100%;
  height: 100%;
  font-size: 20px;

  display: flex;
  justify-content: center;
  /* background-color: crimson; */
}

.front-flashcard .details {
  width: 100%;
  min-height: 100%;

  /* Testing */
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  /* height: 40px; */

  background: radial-gradient(
    circle,
    var(--second-bg-color),
    var(--alternative-bg-color)
  );
  border-radius: 0 0 20px 20px;
  /* background-color: #4f46e5; */
}

.front-flashcard .details[open] {
  /* min-height: 100%; */
  opacity: 1;
  /* background-color: #4f46e5; */
}

.front-flashcard .details summary {
  padding: 10px;
  /* background-color: hotpink; */
}

.front-flashcard .details[open] summary {
  font-weight: 600;
  color: var(--test-color);
}

.front-flashcard .details ul {
  width: 100%;
  height: 190px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.front-flashcard .details ul li {
  width: fit-content;
  list-style: none;
  color: var(--third-text-color);
}

/* Back card */

.back-card {
  color: var(--fourth-text-color);
  /* background: radial-gradient(
    var(--second-bg-color),
    var(--alternative-bg-two)
  ); */

  background-color: var(--second-bg-color);
}

.back-flashcard {
  width: 100%;
  max-width: 400px;
  height: 96vh;
  min-height: 500px;

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  border-radius: 20px;
  background: radial-gradient(
    circle,
    var(--second-bg-color),
    var(--alternative-bg-color)
  );

  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

  /* Testing */
  position: relative;
  padding-bottom: 50px;
}

.back-flashcard .header {
  height: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 40px; */

  /* background-color: aqua; */
  border-bottom: 4px solid var(--second-bg-color);
  font-size: 24px;
}

.back-flashcard .header .word {
  color: var(--test-color);
}

.back-flashcard .figure {
  aspect-ratio: 16/8;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  /* padding: 0 2px; */
  /* border-bottom: 4px solid var(--second-bg-color); */
  border-radius: 20px 20px 0 0;
  background-color: aqua;
}

.back-flashcard img {
  aspect-ratio: 16/8;
  /* width: 100%; */
  /* height: auto; */
  /* height: 100%; */
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.back-flashcard .main {
  font-size: 18px;

  /* Testing */
  width: 100%;
  max-width: 400px;
}

.accordion {
  /* background: #fff; */
  /* background: var(--alternative-bg-four); */
}

.accordion .meaning,
.accordion .example {
  display: block;
  padding: 6px;
  background: var(--second-bg-color);

  /* color: #fff; */
  color: var(--third-text-color);
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
}

.accordion .meaning,
.meaning__translation {
  color: var(--second-text-color);
}

.accordion label:hover {
  /* background: #2e2e2e; */
  background: var(--alternative-bg-color);
}

.accordion .accordion-content {
  padding: 0px;
  margin: 0px 6px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;

  font-size: 16px;
}

.accordion-content .meaning__translation,
.accordion-content .example__translation {
  padding: 6px;
  background: #000;
}

.btn-accordion:checked ~ .accordion-content {
  max-height: 600px;
  padding: 5px 0px;
}

.btn-accordion {
  display: none;
}

i {
  color: var(--third-text-color);
}

b {
  color: var(--second-text-color);
}

.back-flashcard .footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  /* background-color: aqua; */
}

/* Buttons */

.replay-button svg circle {
  fill: none;
  stroke: none;
}

.replay-button svg path {
  fill: var(--test-color);
  stroke: var(--second-text-color);
}

.stop svg path {
  fill: var(--second-bg-color);
  stroke: var(--second-text-color);
}

.word-sound svg path {
  stroke: var(--first-text-color);

  animation: stroke-flicker 5s ease-in-out infinite;
}

/* Animations */
@keyframes blink {
  0%,
  100% {
    color: var(--third-text-color);
  }

  50% {
    color: var(--test-color);
    /* text-shadow: 1px 0px 0px var(--third-text-color); */
  }
}

@keyframes stroke-flicker {
  0%,
  100% {
    stroke: var(--third-text-color);
    fill: var(--second-text-color);
  }

  50% {
    stroke: var(--first-text-color);
    fill: var(--test-color);
  }
}
